<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>sample9</title>
</head>
<body>
<h1>자바스크립트에서 객체(json) 다루기</h1>
<h2>function 객체명(){ 멤버구성 }</h2>
<button onclick="testObject();">실행확인</button>
<p id="p1">
	함수명은 소문자로 시작, 객체명은 대문자로 시작함<br>
	<script type="text/javascript">
		function Book(){ //첫 글자 대문자니까 객체임. 그리고 동시에 생성자 역할도 함.
			//Book(){} = 객체 정의이면서, 생성자 정의가 됨.
			//필드(field) == 속성(property) == 멤버변수
			//this.변수명 = 초기값;
			this.title = null;
			this.author = null;
			this.price = 0;

			//메소드(method) == 멤버함수
			//this.메소드명 = function(){ 소스 작성 }
			this.setBook = function(t, a, p){
				this.title = t;
				this.author = a;
				this.price = p;
			};
			this.display = function(){
				document.getElementById("p1").innerHTML += this.title + ", " + this.author + ", " + this.price + "<br>";
			}
		}	//Book object

		function testObject(){
			var b = new Book();
			b.setBook("자바스크립트 정복", "홍길동", 25000);
			b.display();
		}
	</script>
</p>
<hr>
<h2>버튼 누르면 p2 영역 안에 div 태그가 추가되게 함</h2>
<button onclick="addDiv();">div 추가</button>
<p id="p2">
	<script type="text/javascript">
		function MkDiv(){
			this.element = null;

			this.make = function(id, w, h, c){
				this.element = document.createElement("div");
				this.element.id = id;
				this.element.style.width = w + "px";
				this.element.style.height = h + "px";
				this.element.style.backgroundColor = c;

				return this.element;
			}
		}	//MkDiv Object

		function addDiv(){
			document.getElementById("p2").appendChild(new MkDiv().make("d2", 30, 100, "grey"));
		}
	</script>
</p>





</body>
</html>
